{{ 'test.css' | asset_url | stylesheet_tag }}

{%- style -%}
    .test__heading {
    color: {{ section.settings.colorSubtitle }};
    }

{%- endstyle -%}

<section class="test page-width">
    <div class="container">
        <h1 class="test__heading">{{ section.settings.heading }}</h1>
    </div>
</section>

{% schema %}
{
  "name": "Test Section",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Heading",
      "label": "Heading"
    },
    {
      "type": "color",
      "id": "colorHeading",
      "label": "Color Heading",
      "default": "#000000"
    }
  ],
  "presets": [
    {
      "name": "Test Section"
    }
  ]
}
{% endschema %}