body {
  font-family: "Epilogue", sans-serif;
  letter-spacing: 0px;
}

.label {
  font-size: 14px;
  color: #b9b9b9;
  font-weight: 700;
}

.title {
  font-size: 40px;
  color: #2D3339;
  font-weight: 600;

  @media screen and (max-width: 767px) {
    font-size: 30px;
  }
}

.description {
  font-size: 20px;
  color: #686B7B;
  font-weight: 400;
  line-height: 35px;

  @media screen and (max-width: 767px) {
    font-size: 18px;
    line-height: 30px;
  }
}


.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 1.5rem;
}

.p-component {
  padding: 100px 0;

  @media screen and (max-width: 990px) {
    padding: 60px 0;
  }

  @media screen and (max-width: 767px) {
    padding: 40px 0;
  }
}

img {
  width: 100%;
  display: block;
}