.camera-size {
  text-align: center;

  .camera-size__label {
    padding-bottom: 20px;
  }

  .camera-size__title {
    padding-bottom: 59px;
  }

  .camera-size__image {
    max-width: 1030px;
    margin: auto;
  }
}

