.our-features {
  .our-features__container {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .our-features__label {
    padding-bottom: 20px;
  }

  .our-features__title{
    padding-bottom: 40px;
  }

  .our-features__image,
  .our-features__content {
    width: 50%;
  }

  .our-features__image {
    max-width: 470px;
    margin-right: auto;
  }

  .our-features__technology {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }

  .our-features__technology-wrap {
    max-width: 180px;
    width: 100%;
    text-align: center;
    padding: 20px 5px 30px;
    border: 1px solid #ECECEC;
    border-radius: 10px;
  }

  .our-features__technology-image {
    max-width: 70px;
    margin: auto;
  }

  .our-features__technology-title {
    font-size: 16px;
    color: #2D3339;
    font-weight: 500;
    line-height: 24px;
    padding-bottom: 5px;
  }

  .our-features__technology-desc {
    font-size: 14px;
    color: #686B7B;
    font-weight: 400;
    line-height: 24px;
  }

  @media screen and (max-width: 1199px) {
    .our-features__image {
      width: 40%;
    }

    .our-features__content {
      width: 60%;
    }

    .our-features__technology-wrap {
      max-width: calc((100% - 30px) / 3);
    }
  }

  @media screen and (max-width: 767px) {
    .our-features__container {
      display: block;
    }

    .our-features__image,
    .our-features__content {
      width: 100%;
    }

    .our-features__image {
      max-width: 370px;
      margin: auto;
      padding-bottom: 30px;
    }

    .our-features__title{
      padding-bottom: 55px;
    }
  }

  @media screen and (max-width: 540px) {
    .our-features__technology-wrap {
      max-width: 100%;
    }
  }
}